{% extends "base.html" %}
{% block content %}
    <h1>Add Flashcard to {{ deck.title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.question.label(class="form-control-label") }}
            {{ form.question(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.answer.label(class="form-control-label") }}
            {{ form.answer(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}