{% extends "base.html" %}
{% block content %}
    <h1>Leaderboard</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in top_users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if entry.user %}
                            {{ entry.user.username }}
                        {% else %}
                            Unknown User
                        {% endif %}
                    </td>
                    <td>{{ entry.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}